<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/HeySuri/HeySuri-main/templates/"><h4>HeySuri!</h4></a>
     </nav>

    <div class="mainpage-container">
        <input type="checkbox" class="check_box" name="checkbox1" id="checkbox1">
        <label for="checkbox1"></label>
        <!-- <img src="assets/mic.png" alt=""> -->
        <h3>HeySuri!</h3>
    </div>

</body>
</html>